<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="../static/css/quiz.css">
    <link rel="stylesheet" href="../static/css/popup.css">
</head>
<body>
    <div class="dashboard">
        <div class="header">
            <div class="logo">VizL</div>
            <nav>
                <a href="/user/dashboard" class="nav-item"><b>HOME</b></a>
                <a href="/user/catalog" class="nav-item">CATALOG</a>
                <a href="/user/discussion" class="nav-item">DISCUSSION</a>
            </nav>
            <div>
            </div>
            <div class="user-info">
                <div class="notification-icon" id="notification-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.9 22 12 22ZM18 16V11C18 7.93 16.37 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.64 5.36 6 7.92 6 11V16L4 18V19H20V18L18 16ZM16 17H8V11C8 8.52 9.51 6.5 12 6.5C14.49 6.5 16 8.52 16 11V17Z" fill="white"/>
                    </svg>
                </div>
                <div class="user-icon"></div>
                <div class="user-name">Chuuung</div>
            </div>
        </div>
        <div class="announcement-list hidden" id="announcement-list"></div>
        <!-- Main Content Section -->
        <div class="main-content">
            <div class="module-container">
                <div class="module-info">
                    <div class="course-info">
                        <div class="highlight-bar"></div>
                        <div class="course-info-content">
                            <h2>Course Title</h2>
                            <h3>Module Title</h3>
                        </div>
                    </div>
                    <h4>Article Title</h4>
                </div>
                <div id="quiz-container" class="quiz-container">
                    <!-- Questions will be loaded here -->
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="../static/js/quiz.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/timeTracking.js') }}"></script>
    <script type="module" src="../static/js/updateUser.js"></script>

    <!-- Footer Section -->
    <footer class="footer">
        <button class="footer-button">Back</button>
        <button class="footer-button" id="next-btn">Next</button>
    </footer>
</body>
</html>